*.pyc
*.dat
*.c
*.pyd
*.so
*.mmap
*.tgn
*.pkl
*.est
*.clf
*.html
*.xml
/node_modules
.DS_Store
npm-debug.log*
.coverage
package-lock.json
.idea/
.vscode/
.pytest_cache/
/build
build/
_build/
dist/
cache/
tmp/
